.italic {
    font-style: italic;
}

.hidden {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: 'Assistant', sans-serif;
}

#authentication {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#authentication #projectInformation {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    text-align: left;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.67);
    font-size: 12px;
    max-width: 180px;
}

#authentication #backgroundBox {
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -50px;
    background-color: #2F4858;
    transform: skew(-8deg, 0deg);
}

#authentication .authenticationWrapper {
    width: 400px;
    height: 320px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 100px;
    margin: -160px 0;
    border-radius: 5px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#authentication .authenticationWrapper#loginWrapper {
    height: 320px;
    margin: -160px 0;
}

#authentication .authenticationWrapper#registerWrapper {
    height: 410px;
    margin: -205px 0;
}

#authentication .authenticationWrapper #authenticationContent h1 {
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    background-color: #f1f1f1;
    padding: 17px 0;
    margin: 0 0 5px 0;
    display: block;
}

#authentication .authenticationWrapper #authenticationContent {
    position: relative;
    overflow: hidden;
}

#authentication .authenticationWrapper #authenticationContent input,
#authentication .authenticationWrapper #authenticationContent label,
#authentication .authenticationWrapper #authenticationContent select {
    margin-left: 20px;
}

label {
    font-size: 17px;
    margin: 15px 0 0 0;
    color: #504f4f;
    display: block;
}

input {
    display: block;
    box-sizing: border-box;
    margin: 5px 10px 10px 0;
    width: 360px;
    padding: 10px;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400;
    border: 0;
    background-color: #f0f0f0;
    border-radius: 3px;
}

input[type=submit] {
    width: auto;
}

select {
    display: block;
    box-sizing: border-box;
    margin: 5px 10px 10px 0;
    width: 360px;
    height: 39px;
    padding: 10px;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 400;
    border: 0;
    background-color: #f0f0f0;
    border-radius: 3px;
}

select:focus {
    outline: none !important;
}

#bottomButtons {
    display: block;
    text-align: center;
    margin: 25px auto 0 auto;
}

#authentication .authenticationWrapper #authenticationContent #bottomButtons .button {
    margin: 0 24px;
    float: left;
}

#authentication .authenticationWrapper #authenticationContent #bottomButtons a {
    margin: 0 24px;
    float: right;
    line-height: 42px;
    color: #525252;
    text-decoration: none;
}

.button {
    background-color: #2F4858;
    border: 0;
    border-radius: 3px;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    padding: 10px 15px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s, background-color 0.6s;
}

.button:focus {
    outline: none;
    background-color: #2b414f;
    transition: background-color 0.6s;
}

.button:hover {
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.3) !important;
    transition: box-shadow 0.4s;
}

.button span {
    margin-right: 5px;
}

.button a {
    text-decoration: none;
    color: #fff;
}

input:focus {
    outline: none !important;
}

#match {
    position: relative;
}

#match #sidebar {
    float: left;
    width: 260px;
    background-color: #f4f0f0;
    border-radius: 4px;
    margin: 50px 30px 0 0;
    box-shadow: 0 0 17px rgba(144, 144, 144, 0.2);
    font-size: 18px;
}

#match #sidebar h1 {
    font-size: 19px;
    margin: 0 0 10px 0;
    padding: 10px 15px;
    background-color: #2F4858;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

#match #sidebar .matchInformation {
    font-weight: 300;
    padding: 8px 15px;
}

#match #sidebar .matchInformation .label {
    font-weight: 400;
}

#match #sidebar .matchInformation .label span {
    margin-right: 7px;
    font-size: 16px;
}

#match #sidebar .matchInformation .value {
    color: #525252;
}

#match #sidebar .buttons {
    margin: 20px auto 20px auto;
    padding-top: 20px;
    border-top: 2px solid #e7e7e7;
    text-align: center;
    display: block;
}

#match #sidebar .buttons .button {
    margin: 0 8px;
}

#match #gameContent {
    float: left;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
}

#match #gameContent.hidden {
    display: none;
}

#gameContent {
    width: 460px;
    height: 400px;
    display: block;
    margin: 50px auto 0 auto;
    background-color: #2F4858;
    border-radius: 4px;
    box-shadow: 2px 2px 20px rgba(31, 31, 31, 0.3);
}

#gameContent .fieldTile {
    width: 65px;
    height: 65px;
    float: left;
    position: relative;
}

#gameContent .fieldTile .fieldHole {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px -25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.53) inset;
    cursor: pointer;
}

#gameContent .fieldTile.hasChip.hasBlueChip .fieldHole {
    background-color: blue;
}

#match #surrenderQuestion {
    width: 460px;
    display: block;
    background-color: #f4f0f0;
    border-radius: 4px;
    margin: 50px 30px 0 0;
    box-shadow: 0 0 17px rgba(144, 144, 144, 0.2);
    font-size: 18px;
    float: left;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    font-weight: 300;
}

#match #surrenderQuestion.hidden {
    display: none;
}

#match #surrenderQuestion h1 {
    font-weight: 400;
    font-size: 27px;
    margin: 15px 0;
}

#match #surrenderQuestion #surrenderText {
    display: block;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
}

#match #surrenderQuestion input {
    background-color: #e4e4e4;
    margin: 10px 0 30px 0;
}

#match #surrenderQuestion #surrenderError {
    font-weight: 400;
    margin: 20px 0;
    display: block;
}

#match #surrenderQuestion #surrenderError.hidden {
    display: none;
}

#match #surrenderQuestion #cancelSurrenderLink {
    margin-left: 20px;
}

@keyframes fadeInNotification {
    0% {
        transform: translate(0, -70px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.notification {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(213, 209, 209);
    box-shadow: 1px 1px 10px rgba(212, 212, 212, 0.9);
    border-radius: 4px;
    width: 250px;
    color: #2d2d2d;
    font-weight: 300;
    animation: fadeInNotification 1s ease-in-out;
}

.notification .title {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    width: 100%;
    background-color: rgb(196, 196, 196);
    padding: 5px 0;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.notification .title span {
    margin-right: 0;
    font-size: 18px;
    padding: 10px;
    margin-right: -3px;
}

.notification .content {
    padding: 10px;
    margin: 0;
}

a.formatted {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
}

#registerConfirmationEmail #mailWindow {
    width: 1046px;
    height: 538px;
    background: url(/img/mail_window.png);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -269px -523px;
}

#registerConfirmationEmail #mailWindow #mailWindowContent {
    position: relative;
}

#registerConfirmationEmail #mailWindow #mailWindowContent #recipient {
    position: absolute;
    top: 82px;
    left: 46px;
    font-size: 12px;
    color: #494848;
}

#registerConfirmationEmail #mailWindow #mailWindowContent #mailContent {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    height: 398px;
    padding: 20px 25px;
    overflow-y: scroll;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #2F4858;
    transform: skew(0deg, -1deg);
    padding-top: 20px;
    margin-top: -20px;
    color: #dbdbdb;
    font-weight: 400;
    font-size: 17px;
}

nav #navContent {
    transform: skew(0deg, 1deg);
}

nav #profileInformation {
    float: left;
    margin: 17px 0;
}

nav #profileInformation #profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 15px;
    float: left;
}

nav #profileInformation #profilePicture.empty::before {
    color: #2F4858;
    font-family: 'ElegantIcons';
    content: "\e08a";
    text-align: center;
    line-height: 40px;
    display: block;
    font-size: 25px;
}

nav #profileInformation #profileTextInformation {
    float: left;
}

nav #profileInformation #profileTextInformation #profileUsernameLabel {
    font-size: 14px;
    display: block;
    color: #bebebe;
    font-weight: 300;
}

nav #logout {
    float: right;
    margin: 17px 0;
    font-size: 16px;
    font-weight: 300;
}

nav #logout a {
    text-decoration: none;
    color: #d6d6d6;
}

nav #logout span {
    margin-right: 6px;
}

.centerWrapper {
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    max-width: 1140px;
}

#lobby {
    margin-top: 50px;
}

#lobby h1 {
    text-transform: uppercase;
    color: #2F4858;
    position: relative;
    display: inline-block;
    margin: 20px 0 20px;
}

#lobby h1:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 70%;
    height: 8px;
    background-color: #2F4858;
}

#lobby p {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 300;
}

#lobby #quickJoinMatch .button {
    display: block;
    margin: 20px 0 0 0;
}

#lobby #userGames,
#lobby #joinPublicMatch {
    background-color: #f4f0f0;
    padding: 30px 0 50px 0;
    margin: 70px 0 30px 0;
}

#lobby #userGames table,
#lobby #joinPublicMatch table {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
}

#lobby #userGames table .header,
#lobby #joinPublicMatch table .header {
    font-weight: 700;
    text-transform: uppercase;
    color: #2F4858;
}

#lobby #joinPublicMatch {
    margin: 0;
}

#lobby #createNewMatch {
    width: 100%;
    padding: 20px 0 40px 0;
    margin: 0 0 30px 0;
}

#lobby #createNewMatch select {
    background-color: #e6e4e4 !important;
}

#lobby #createNewMatch button {
    display: block;
    margin: 20px 0 0 0;
}

#lobby #createNewMatch #createNewMatchForm.hidden,
#lobby #createNewMatch #createNewMatchAccessLink.hidden {
    display: none;
}

#lobby #createNewMatch #createNewMatchAccessLink h2 {
    font-weight: 700;
    font-size: 18px;
}

#lobby #createNewMatch #createNewMatchAccessLink #quickAccessLink,
#lobby #createNewMatch #createNewMatchAccessLink #quickAccessCode {
    display: block;
    font-size: 18px;
    font-weight: 300;
}

#lobby #createNewMatch #createNewMatchAccessLink #quickAccessLink span,
#lobby #createNewMatch #createNewMatchAccessLink #quickAccessCode span {
    margin-right: 10px;
}

/*nav {
    width: 100%;
    min-height: 400px;
    background-color: #2F4858;
    transform: skew(0deg, -1.5deg);
    padding-top: 50px;
    margin-top: -50px;
}*/
