Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
# Works with built in PHP development server
#RewriteRule ^(.*)$ index.php [QSA,L]

# Tested with Apache 2.2.22
RewriteRule (.*) index.php/$1 [QSA,L]
